<html>
    <head>
        <meta charset="utf-8">
        <title>My WebSite</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="CSS/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merienda&family=Orbitron&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="index.html" class="logo">BKSIM</a>
            <nav>
                <ul>
                    <li><a href="signup.html">Sign Up</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="mybuilds.html">My Builds</a></li>
                </ul>
                <a href="logout.html" class="logout">Logout</a>
            </nav>
        </header>
        <main>
           
        </main>
        <footer>
            <ul >
                <li> <a href="@">About me</a></li>
                <li> <a href="@">Links</a></li>
                <li> <a href="@">BKSIM</a></li>
                <li> <a href="@">Contacts</a></li>
            </ul>
        </footer>
    </body>
</html>