<!DOCTYPE html>
<html lang="en">

{% extends 'website/base.html' %}

{% block main %}

            <section class="bike-parts">
                <a href="frameBMX.html"> 
                    <article > 
                        <h3>Frame</h3>
                     </article>
                </a>
            
                <a href="brakesBMX.html"> 
                    <article> 
                        <h3>Brakes</h3>
                     </article>
                </a> 
                <a href="wheelsBMX.html">
                     <article>
                          <h3>Wheels</h3>
                    </article>
                </a>
                <a href="tiresBMX.html">
                    <article>
                         <h3>Tires</h3>
                   </article>
               </a>  

            </section>

{% endblock %}
</html>