<!DOCTYPE html>
<html lang="en">

{% extends 'website/base.html' %}

{% block main %}
    <section class="bike-items">
                <h1>Here is what we have for you:</h1>
                <article class="bike-item">
                    <img src="../CSS/img/imgMTB.jpg" alt="1">
                    <h2>Name</h2>
                    <h3>Price</h3>
                    <h4>Description</h4>
                </article>
                <article class="bike-item">
                    <img src="../CSS/img/imgMTB.jpg" alt="1">
                    <h2>Name</h2>
                    <h3>Price</h3>
                    <h4>Description</h4>
                </article>
                <article class="bike-item">
                    <img src="../CSS/img/imgMTB.jpg" alt="1">
                    <h2>Name</h2>
                    <h3>Price</h3>
                    <h4>Description</h4>
                </article>
                <article class="bike-item">
                    <img src="../CSS/img/imgMTB.jpg" alt="1">
                    <h2>Name</h2>
                    <h3>Price</h3>
                    <h4>Description</h4>
                </article>
    </section>

{% endblock %}
</html>

