<!DOCTYPE html>
<html lang="en">

{% extends 'website/base.html' %}

{% block main %}
            <section class="bike-parts">
                <a href="frameRB.html"> 
                    <article > 
                        <h3>Frame</h3>
                     </article>
                </a>
                <a href="drivetrainRB.html">
                    <article >
                        <h3>DriveTrain</h3>
                     </article>
                </a>
                <a href="brakesRB.html"> 
                    <article> 
                        <h3>Brakes</h3>
                     </article>
                </a> 
                <a href="wheelsRB.html">
                     <article>
                          <h3>Wheels</h3>
                    </article>
                </a>
                <a href="tiresRB.html">
                    <article>
                         <h3>Tires</h3>
                   </article>
               </a>  

            </section>
{% endblock %}
</html>