<!DOCTYPE html>
<html lang="en">

{% extends 'website/base.html' %}

{% block main %}
            <section class="bike-parts">
                <a href="frameMTB.html"> 
                    <article > 
                        <h3>Frame</h3>
                     </article>
                </a>
                <a href="drivetrainMTB.html">
                    <article >
                        <h3>DriveTrain</h3>
                     </article>
                </a>
                <a href="forkMTB.html"> 
                     <article> 
                         <h3>Fork</h3>
                      </article>
                </a> 
                <a href="brakesMTB.html"> 
                    <article> 
                        <h3>Brakes</h3>
                     </article>
                </a> 
                <a href="wheelsMTB.html">
                     <article>
                          <h3>Wheels</h3>
                    </article>
                </a>
                <a href="tiresMTB.html">
                    <article>
                         <h3>Tires</h3>
                   </article>
               </a>  

            </section>
{% endblock %}
</html>
